version: "3.5"
services:
  web:
    image: nginx
    ports:
      - "80:80"
      - "443:443"
    working_dir: /var/www/wave/
    volumes:
      - ../../assets:/var/www/wave/assets
      - ../../config/nginx/nginx.prod.conf:/etc/nginx/nginx.conf:ro
      - ../../../../front/2022_1_Wave/build:/var/www/wave
      - ./certs:/var/www/certs
    depends_on:
      - wave_music

  wave_music:
    image: mausved/wave_music_api_v1
    tty: true
    expose:
      - 5000
    working_dir: /var/www/service
    entrypoint: ./prod.sh
    volumes:
      - ../..:/var/www/service
      - ../../config/config.toml:/var/www/service/config.toml:ro
    environment:
      - DATABASE_CONNECTION=user=postgres password=music dbname=wave host=db port=5432 sslmode=disable
      - DATABASE_MIGRATIONS=./db/migrations
    depends_on:
      - db
      - redis

  redis:
    image: redis
    expose:
      - 6379

  db:
    image: postgres:14
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=music
      - POSTGRES_DB=wave
    expose:
      - 5432
    volumes:
      - ../../db/:/var/run/postgresql/
