version: "3.5"
services:
  web:
    image: nginx
    ports:
      - "80:80"
    working_dir: /var/www/wave
    volumes:
      - ../../../../front/2022_1_Wave/src:/var/www/wave
      - ../../config/nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - wave_music
  #    - db

  wave_music:
    image: golang
    expose:
      - 5000
    working_dir: /var/www/wave.music
    command: bash -c "go build -o wave cmd/api/main.go && ./wave"
    volumes:
      - ../../src:/var/www/wave.music

#  db:
#    image: postgres
#    container_name: "wave-db"
#    expose:
#      - 5432
#    volumes:
#      - ../../db_dump:/tmp
#    environment:
#      - POSTGRES_PASSWORD=music
#      - POSTGRES_USER=postgres
#      - POSTGRES_DB=wave
