apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f ../docker-compose.yaml
    kompose.version: 1.26.1 (a9d05d509)
  creationTimestamp: null
  labels:
    io.kompose.service: user
  name: user
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: user
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -f ../docker-compose.yaml
        kompose.version: 1.26.1 (a9d05d509)
      creationTimestamp: null
      labels:
        io.kompose.service: user
    spec:
      containers:
        - name: user
          image: mausved/wave_user
          ports:
            - containerPort: 8086
            - containerPort: 9086
          env:
            - name: DATABASE_CONNECTION
              value: user=postgres password=music dbname=wave host=77.223.123.188 port=5432 sslmode=disable
            - name: dbType
              value: postgres
            - name: exporterPort
              value: :9086
            - name: port
              value: :8086
            - name: AWS_REGION
              valueFrom:
                secretKeyRef:
                  name: secretkey
                  key: AWS_REGION
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: secretkey
                  key: ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: secretkey
                  key: SECRET_KEY
            - name: AWS_BUCKET_NAME
              valueFrom:
                secretKeyRef:
                  name: secretkey
                  key: AWS_BUCKET_NAME
            - name: AWS_S3_URL
              valueFrom:
                secretKeyRef:
                  name: secretkey
                  key: AWS_S3_URL
      imagePullSecrets:
        - name: wave

status: { }
