global:
  scrape_interval: 15s
  evaluation_interval: 15s

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: 'docker-host-alpha'

# Load and evaluate rules in this file every 'evaluation_interval' seconds.
rule_files:
  - "alert.rules"

# A scrape configuration containing exactly one endpoint to scrape.
scrape_configs:
  - job_name: 'api'
    scrape_interval: 5s
    static_configs:
      - targets: [ 'wave_music:5000' ]

  - job_name: 'album'
    scrape_interval: 5s
    static_configs:
      - targets: [ 'album:9081' ]

  - job_name: 'artist'
    scrape_interval: 5s
    static_configs:
      - targets: [ 'artist:9082' ]

  - job_name: 'track'
    scrape_interval: 5s
    static_configs:
      - targets: [ 'track:9083' ]

  - job_name: 'playlist'
    scrape_interval: 5s
    static_configs:
      - targets: [ 'playlist:9084' ]

  - job_name: 'auth'
    scrape_interval: 5s
    static_configs:
      - targets: [ 'auth:9085' ]

  - job_name: 'user'
    scrape_interval: 5s
    static_configs:
      - targets: [ 'user:9086' ]

  - job_name: 'nodeexporter'
    scrape_interval: 5s
    static_configs:
      - targets: [ 'nodeexporter:9100' ]

  - job_name: 'cadvisor'
    scrape_interval: 5s
    static_configs:
      - targets: [ 'cadvisor:8080' ]

  - job_name: 'prometheus'
    scrape_interval: 10s
    static_configs:
      - targets: [ 'localhost:9090' ]

  - job_name: 'pushgateway'
    scrape_interval: 10s
    honor_labels: true
    static_configs:
      - targets: [ 'pushgateway:9091' ]

  - job_name: 'db'
    scrape_interval: 10s
    static_configs:
      - targets: [ 'postgres-exporter:9187' ]

  - job_name: 'redis'
    scrape_interval: 10s
    static_configs:
      - targets: [ 'redis-exporter:9121' ]

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
        - targets: [ 'alertmanager:9093' ]
