apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f ../docker-compose.yaml
    kompose.version: 1.26.1 (a9d05d509)
  creationTimestamp: null
  labels:
    io.kompose.service: playlist
  name: playlist
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: playlist
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -f ../docker-compose.yaml
        kompose.version: 1.26.1 (a9d05d509)
      creationTimestamp: null
      labels:
        io.kompose.service: playlist
    spec:
      containers:
        - name: playlist
          image: mausved/wave_playlist
          ports:
            - containerPort: 8084
            - containerPort: 9084
          env:
            - name: DATABASE_CONNECTION
              value: user=postgres password=music dbname=wave host=db port=5432 sslmode=disable
            - name: dbType
              value: postgres
            - name: exporterPort
              value: :9084
            - name: port
              value: :8084
      restartPolicy: Always
      imagePullSecrets:
        - name: regcred

status: { }
