apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f ../docker-compose.yaml
    kompose.version: 1.26.1 (a9d05d509)
  creationTimestamp: null
  labels:
    io.kompose.service: auth
  name: auth
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: auth
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -f ../docker-compose.yaml
        kompose.version: 1.26.1 (a9d05d509)
      creationTimestamp: null
      labels:
        io.kompose.service: auth
    spec:
      containers:
        - name: auth
          image: mausved/wave_auth
          ports:
            - containerPort: 8085
            - containerPort: 9085
          env:
            - name: DATABASE_CONNECTION
              value: user=postgres password=music dbname=wave host=77.223.123.188 port=5432 sslmode=disable
            - name: dbType
              value: postgres
            - name: exporterPort
              value: :9085
            - name: port
              value: :8085
      restartPolicy: Always
      imagePullSecrets:
        - name: regcred

status: { }
