{{ define "telegram.default" }}
{{ range .Alerts }}
{{ if eq .Status "firing"}}🔥 <b>{{ .Status | toUpper }}</b> 🔥{{ else }}✅ <b>{{ .Status | toUpper }}</b> ✅{{ end }}
alertName:<b>{{ .Labels.alertname }}</b>
summary:{{ if .Annotations.summary }} {{ .Annotations.summary }} {{ end }}
description:{{ if .Annotations.description }} {{ .Annotations.description }} {{ end }}
{{ end }}
{{ end }}


