:5432 {
    basicauth /* {
        {$ADMIN_USER} {$ADMIN_PASSWORD}
    }
    reverse_proxy db.default.svc.cluster.local:5432
}

:9090 {
    basicauth /* {
        {$ADMIN_USER} {$ADMIN_PASSWORD}
    }
    reverse_proxy prometheus.default.svc.cluster.local:9090
}

:9093 {
    basicauth /* {
        {$ADMIN_USER} {$ADMIN_PASSWORD}
    }
    reverse_proxy alertmanager.default.svc.cluster.local:9093
}

:9091 {
    basicauth /* {
        {$ADMIN_USER} {$ADMIN_PASSWORD}
    }
    reverse_proxy pushgateway.default.svc.cluster.local:9091
}

:9121 {
    basicauth /* {
        {$ADMIN_USER} {$ADMIN_PASSWORD}
    }
    reverse_proxy redis-exporter.default.svc.cluster.local:9121
}

:9187 {
    basicauth /* {
        {$ADMIN_USER} {$ADMIN_PASSWORD}
    }
    reverse_proxy postgres-exporter.default.svc.cluster.local:9187
}

:3000 {
    reverse_proxy grafana.default.svc.cluster.local:3000
}