name: Docker Build

on:
  workflow_run:
    workflows:
      - Checks
    types: [ completed ]
#    branches: [ master ]
#  pull_request:
#    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v1
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build all Docker images
        run: cd deploy && bash dockerBuildAll.sh
      - name: Push all Docker images
        run: cd deploy && bash dockerPushAll.sh
