name: k8s
on: [ push ]

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - uses: actions/checkout@v3
      - name: setting up
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler
          sudo apt-get install -y golang-goprotobuf-dev
          go install github.com/swaggo/swag/cmd/swag@latest
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest
          go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
          go install github.com/favadi/protoc-go-inject-tag@latest
          go install github.com/vektra/mockery/v2@latest
          go get github.com/mailru/easyjson
          go install github.com/mailru/easyjson/...@latest
      - uses: actions/checkout@v3
      - name: generate gRPC and docs
        run: chmod +x generateAll.sh && ./generateAll.sh
      - name: generate easyjson
        run: chmod +x easyjsonGenerate.sh && ./easyjsonGenerate.sh
      - name: generate test mocks
        run: cd internal/test && chmod +x mocks.sh && ./mocks.sh
      - name: build
        run: go build -v ./...

  golangci-lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - uses: actions/checkout@v3
      - name: setting up
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler
          sudo apt-get install -y golang-goprotobuf-dev
          go install github.com/swaggo/swag/cmd/swag@latest
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest
          go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
          go install github.com/favadi/protoc-go-inject-tag@latest
          go install github.com/vektra/mockery/v2@latest
          go get github.com/mailru/easyjson
          go install github.com/mailru/easyjson/...@latest
      - name: generate gRPC and docs
        run: chmod +x generateAll.sh && ./generateAll.sh
      - name: generate easyjson
        run: chmod +x easyjsonGenerate.sh && ./easyjsonGenerate.sh
      - name: generate test mocks
        run: cd internal/test && chmod +x mocks.sh && ./mocks.sh
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          skip-pkg-cache: true
          skip-build-cache:
            true
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - uses: actions/checkout@v3
      - name: setting up
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler
          sudo apt-get install -y golang-goprotobuf-dev
          go install github.com/swaggo/swag/cmd/swag@latest
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest
          go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
          go install github.com/favadi/protoc-go-inject-tag@latest
          go install github.com/vektra/mockery/v2@latest
          go get github.com/mailru/easyjson
          go install github.com/mailru/easyjson/...@latest
      - name: generate gRPC and docs
        run: chmod +x generateAll.sh && ./generateAll.sh
      - name: generate easyjson
        run: chmod +x easyjsonGenerate.sh && ./easyjsonGenerate.sh
      - name: go tests
        run: chmod +x test.sh && ./test.sh

  buildWaiter:
    runs-on: ubuntu-latest
    name: checks-waiter
    needs:
      - build
      - golangci-lint
      - test
    steps:
      - run: echo "go to build images"


  #########################################

  dockerAlbum_pre-build:
    runs-on: ubuntu-latest
    name: pre-build album image
    needs:
      - buildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x dockerBuild.sh && ./dockerBuild.sh album

  dockerAlertmanager_pre-build:
    runs-on: ubuntu-latest
    name: pre-build alertmanger image
    needs:
      - buildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x dockerBuild.sh && ./dockerBuild.sh alertmanger

  dockerApi_pre-build:
    runs-on: ubuntu-latest
    name: pre-build api image
    needs:
      - buildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x dockerBuild.sh && ./dockerBuild.sh api

  dockerArtist_pre-build:
    runs-on: ubuntu-latest
    name: pre-build artist image
    needs:
      - buildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x dockerBuild.sh && ./dockerBuild.sh artist

  dockerAuth_pre-build:
    runs-on: ubuntu-latest
    name: pre-build auth image
    needs:
      - buildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x dockerBuild.sh && ./dockerBuild.sh auth

  dockerCaddy_pre-build:
    runs-on: ubuntu-latest
    name: pre-build caddy image
    needs:
      - buildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x dockerBuild.sh && ./dockerBuild.sh caddy

  dockerGrafana_pre-build:
    runs-on: ubuntu-latest
    name: pre-build grafana image
    needs:
      - buildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x dockerBuild.sh && ./dockerBuild.sh grafana

  dockerPlaylist_pre-build:
    runs-on: ubuntu-latest
    name: pre-build playlist image
    needs:
      - buildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x dockerBuild.sh && ./dockerBuild.sh playlist

  dockerPostgres_pre-build:
    runs-on: ubuntu-latest
    name: pre-build postgres image
    needs:
      - buildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x dockerBuild.sh && ./dockerBuild.sh postgres

  dockerPrometheus_pre-build:
    runs-on: ubuntu-latest
    name: pre-build prometheus image
    needs:
      - buildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x dockerBuild.sh && ./dockerBuild.sh prometheus

  dockerRedis_pre-build:
    runs-on: ubuntu-latest
    name: pre-build redis image
    needs:
      - buildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x dockerBuild.sh && ./dockerBuild.sh redis

  dockerTrack_pre-build:
    runs-on: ubuntu-latest
    name: pre-build track image
    needs:
      - buildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x dockerBuild.sh && ./dockerBuild.sh track

  dockerUser_pre-build:
    runs-on: ubuntu-latest
    name: pre-build user image
    needs:
      - buildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x dockerBuild.sh && ./dockerBuild.sh user

  dockerWeb_pre-build:
    runs-on: ubuntu-latest
    name: pre-build web image
    needs:
      - buildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x dockerBuild.sh && ./dockerBuild.sh web

  dockerPreBuildWaiter:
    runs-on: ubuntu-latest
    name: docker-pre-waiter
    needs:
      - dockerAlbum_pre-build
      - dockerAlertmanager_pre-build
      - dockerApi_pre-build
      - dockerArtist_pre-build
      - dockerAuth_pre-build
      - dockerCaddy_pre-build
      - dockerGrafana_pre-build
      - dockerPlaylist_pre-build
      - dockerPostgres_pre-build
      - dockerPrometheus_pre-build
      - dockerRedis_pre-build
      - dockerTrack_pre-build
      - dockerUser_pre-build
      - dockerWeb_pre-build
    steps:
      - run: echo "go to deploy to docker.hub"

  #########################################

  dockerAlbum_deploy:
    runs-on: ubuntu-latest
    name: pre-build album image
    needs:
      - dockerPreBuildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x deploy.sh && ./deploy.sh album

  dockerAlertmanager_deploy:
    runs-on: ubuntu-latest
    name: pre-build alertmanger image
    needs:
      - dockerPreBuildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x deploy.sh && ./deploy.sh alertmanger

  dockerApi_deploy:
    runs-on: ubuntu-latest
    name: pre-build api image
    needs:
      - dockerPreBuildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x deploy.sh && ./deploy.sh api

  dockerArtist_deploy:
    runs-on: ubuntu-latest
    name: pre-build artist image
    needs:
      - dockerPreBuildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x deploy.sh && ./deploy.sh artist

  dockerAuth_deploy:
    runs-on: ubuntu-latest
    name: pre-build auth image
    needs:
      - dockerPreBuildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x deploy.sh && ./deploy.sh auth

  dockerCaddy_deploy:
    runs-on: ubuntu-latest
    name: pre-build caddy image
    needs:
      - dockerPreBuildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x deploy.sh && ./deploy.sh caddy

  dockerGrafana_deploy:
    runs-on: ubuntu-latest
    name: pre-build grafana image
    needs:
      - dockerPreBuildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x deploy.sh && ./deploy.sh grafana

  dockerPlaylist_deploy:
    runs-on: ubuntu-latest
    name: pre-build playlist image
    needs:
      - dockerPreBuildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x deploy.sh && ./deploy.sh playlist

  dockerPostgres_deploy:
    runs-on: ubuntu-latest
    name: pre-build postgres image
    needs:
      - dockerPreBuildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x deploy.sh && ./deploy.sh postgres

  dockerPrometheus_deploy:
    runs-on: ubuntu-latest
    name: pre-build prometheus image
    needs:
      - dockerPreBuildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x deploy.sh && ./deploy.sh prometheus

  dockerRedis_deploy:
    runs-on: ubuntu-latest
    name: pre-build redis image
    needs:
      - dockerPreBuildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x deploy.sh && ./deploy.sh redis

  dockerTrack_deploy:
    runs-on: ubuntu-latest
    name: pre-build track image
    needs:
      - dockerPreBuildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x deploy.sh && ./deploy.sh track

  dockerUser_deploy:
    runs-on: ubuntu-latest
    name: pre-build user image
    needs:
      - dockerPreBuildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x deploy.sh && ./deploy.sh user

  dockerWeb_deploy:
    runs-on: ubuntu-latest
    name: pre-build web image
    needs:
      - dockerPreBuildWaiter
    steps:
      - uses: actions/checkout@v3
      - name: Login to DockerHub Registry
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build image
        run: cd deploy && chmod +x deploy.sh && ./deploy.sh web

  dockerDeployWaiter:
    runs-on: ubuntu-latest
    name: docker-deploy-waiter
    needs:
      - dockerAlbum_deploy
      - dockerAlertmanager_deploy
      - dockerApi_deploy
      - dockerArtist_deploy
      - dockerAuth_deploy
      - dockerCaddy_deploy
      - dockerGrafana_deploy
      - dockerPlaylist_deploy
      - dockerPostgres_deploy
      - dockerPrometheus_deploy
      - dockerRedis_deploy
      - dockerTrack_deploy
      - dockerUser_deploy
      - dockerWeb_deploy
    steps:
      - run: echo "go to deploy to docker.hub"

  #########################################

  k8s:
    runs-on: ubuntu-latest
    name: k8s
    needs:
      - dockerDeployWaiter
    steps:
      - uses: actions/checkout@v1
      - name: k8s install
        run: |
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          curl -LO "https://dl.k8s.io/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl.sha256"
          echo "$(cat kubectl.sha256)  kubectl" | sha256sum --check
          chmod +x kubectl
          mkdir -p ~/.local/bin
          mv ./kubectl ~/.local/bin/kubectl
          export PATH="~/.local/bin/kubectl:$PATH"
          kubectl version --client --output=yaml
      - name: apply & rollout restart
        run: |
          echo "${{ secrets.K8S_CONFIG }}" > k8s.yaml
          export KUBECONFIG="$(pwd)/k8s.yaml"
          kubectl apply -f ./env/prod/k8/ -R
          kubectl rollout restart deployment db
          kubectl rollout restart deployment redis
          kubectl rollout restart deployment artist
          kubectl rollout restart deployment auth
          kubectl rollout restart deployment playlist
          kubectl rollout restart deployment track
          kubectl rollout restart deployment album
          kubectl rollout restart deployment wave
          kubectl rollout restart deployment alertmanager
          kubectl rollout restart deployment caddy
          kubectl rollout restart deployment grafana
          kubectl rollout restart deployment prometheus
          kubectl rollout restart deployment godeploy
